/*Normalization - remove browser padding and margins, set box-sizing*/
* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* **************************** 
Default Styles - Document Level
**************************** */

body {
	background-color: #E7E7E7;
	font-family: 'Roboto', sans-serif;
	color: #333333;
	/*For basic layout*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ********* 
Header Styles
********** */

header {
	background-color: #FBD94A;
}

/* **************** 
Main Content Styles
***************** */
.main-content {
	flex: 1; /*Allows main content to expand to occupy all remaining free space after considering header/footer*/
}

/* ********* 
Footer Styles
********** */
footer {
	background-color: black;
	color: white;
}